/*@import "../scss/_variables.scss";*/

$global-font: Helvetica, sans-serif;
$blue: #3498db;
$green: #5b8d0f;
$light-grey: #cccccc;
$dark-grey: #999999;

$min-tablet-width: 768px;
$min-desktop-width: 1200px;
