* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Passage de la police de 16px par défaut, à 10px -----> 10/16*100= 62.5 */
}

body {
  margin: 0;
  font-size: 18px; /* On remet le body à 16px, la valeur par défaut */
  line-height: 1.5;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 1em;
  background-color: aquamarine;
  border-radius: 1em;
}
