* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Passage de la police de 16px par défaut, à 10px -----> 10/16*100= 62.5 */
}

body {
  margin: 0;
  font-size: 18px; /* On remet le body à 16px, la valeur par défaut */
  line-height: 1.5;
}

.container {
  max-width: 1400px;
  margin: auto;
}

/*///////////////////////////////////////////////////////////////////
TEXT - FONT
///////////////////////////////////////////////////////////////////*/
h1 {
  font-family: "Athiti";
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
}

h1::before,
h1::after,
h2::before,
h2::after,
h3::before,
h3::after,
.individual-menu ul li::before {
  content: "\f005";
  font-family: FontAwesome;
  font-size: 0.8rem;
  margin: 1em;
  vertical-align: middle;
  color: #950000;
}

h2 {
  font-family: "Merienda";
  text-align: center;
  font-size: 3rem;
  margin-top: 2em;
}

h3 {
  font-family: "Merienda";
  text-align: center;
  font-size: 2rem;
  padding-top: 1em;
}

h4 {
  font-family: "Merienda";
  text-align: center;
  font-size: 1.8rem;
  padding-top: 1em;
  padding-bottom: 0.5em;
  width: 100%;
  border-bottom: 1px dashed #fff;
}

p,
li,
.more-button {
  font-family: "Athiti";
}

/*/ //////////////////////////////////////////////////////////////////
HEADER
///////////////////////////////////////////////////////////////////*/
header {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-section img {
  width: 10rem;
}

header menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #ebe3db;
}
header menu li {
  padding: 0.5em;
  width: 100%;
  border-bottom: 1px solid #4c4343;
  background-color: #ebe3db;
}
header menu li:first-of-type {
  background-color: #4c4343;
  color: #fff;
}

main {
  padding-inline: 1rem;
}

.nav-transition {
  transition: transform 0.1s, background-color 0.1s, border-radius 0.1s;
}

.nav-transition:hover {
  background-color: #950000;
  color: #fff;
  transform: scale(1.1);
  border-radius: 0.5rem;
  cursor: pointer;
}

/*///////////////////////////////////////////////////////////////////
MAIN
///////////////////////////////////////////////////////////////////*/

.home-welcome img {
  width: 100%;
}

.individual-menu {
  background-color: #ebe3db;
  padding-bottom: 1rem;
}

.individual-menu img {
  width: 100%;
}
.individual-menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.individual-menu ul li {
  width: 100%;
  border-bottom: 1px dashed #000;
  padding: 0.5em 0 0.5em 1em;
}

/*/ //////////////////////////////////////////////////////////////////
FOOTER
///////////////////////////////////////////////////////////////////*/
footer {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  color: #fff;
  padding: 1em;
  margin-top: 1rem;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer > div section {
  text-align: center;
  width: 100%;
}

footer > div section a i {
  color: #fff;
}

/*///////////////////////////////////////////////////////////////////
TOOLS
///////////////////////////////////////////////////////////////////*/

.more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #4c4343;
  border-radius: 0;
  border: 0;
  margin: 1em;
  text-align: center;
  padding: 0.5rem;
}

.more-button a {
  position: relative;
  text-decoration: none;
  color: #fff;
}

.more-button img {
  width: 20px;
  height: auto;
  margin-right: 0.5em;
  height: auto;
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
MEDIA-QUERIES - to tablet
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

@media screen and (min-width: 780px) {
  header menu {
    flex-direction: row;
    justify-content: space-around;
  }

  header menu li {
    width: 10%;
    border: 0;
  }

  footer div {
    flex-direction: row;
    justify-content: space-between;
  }

  footer div section {
    width: 30%;
  }
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
MEDIA-QUERIES - to desktop
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

@media screen and (min-width: 1100px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }

  .logo-section {
    flex-direction: row;
  }

  header menu {
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    background-color: #fff;
  }

  header menu li {
    width: 20%;
  }

  .home-welcome {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .home-welcome h2 {
    width: 100%;
  }

  .home-welcome img {
    width: 40%;
    height: 100%;
  }

  .home-welcome article {
    width: 60%;
  }

  .menus-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .menus-section h2 {
    width: 100%;
  }
  .individual-menu {
    width: 32%;
  }
}
