* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Passage de la police de 16px par défaut, à 10px -----> 10/16*100= 62.5 */
}

body {
  margin: 0;
  font-size: 18px; /* On remet le body à 16px, la valeur par défaut */
}

.container {
  max-width: 1400px;
  margin: auto;
}

h1 {
  font-family: "Athiti";
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
}

h1::before,
h1::after,
h2::before,
h2::after,
h3::before,
h3::after {
  content: "\f005";
  font-family: FontAwesome;
  font-size: 0.8rem;
  margin: 1em;
  vertical-align: middle;
  color: #950000;
}

h2 {
  font-family: "Merienda";
  text-align: center;
  font-size: 3rem;
}

h3 {
  font-family: "Merienda";
  text-align: center;
  font-size: 2rem;
}

header {
  padding-top: 2em;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-section img {
  width: 20%;
}

header menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main {
  padding-inline: 1rem;
}

.carousel {
  width: 100%;
}

.carousel img {
  width: 50%;
  height: auto;
  margin: auto;
}

.home-welcome img {
  width: 100%;
}

.individual-menu {
  background-color: #ebe3db;
}

.individual-menu img {
  width: 100%;
}
.individual-menu ul {
  list-style-type: none;
  padding: 0;
}

.individual-menu ul li {
  width: 100%;
  border-bottom: 1px dashed #000;
}

footer {
  background-image: url("../img/footer-bg.jpg");
  color: #fff;
}

footer > div section {
  text-align: center;
}

footer > div section a i {
  color: #fff;
}
