@use "../scss/variables.scss";

header {
  display: flex;
  flex-direction: column;
  background-color: variables.$light-grey;
  border-radius: 0 0 1em 1em;

  h1 {
    text-align: center;
    font-family: variables.$global-font;
    color: variables.$blue;
  }

  menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    margin: 1em;

    li {
      background-color: variables.$dark-grey;
      padding: 0.5em;
      margin: 0.1em;
      border-radius: 0.5em;
    }
  }
}

@media screen and (min-width: variables.$min-tablet-width) {
  header {
    align-items: center;
    menu {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: variables.$min-desktop-width) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
    border-radius: 1em 1em 1em 1em;

    h1 {
      padding: 0 1em;
    }
    menu {
      flex-direction: row;
    }
  }
}
